body {
    font-family: Lucida Sans Unicode, Verdana;
    font-size: 1em;
}
h3 {
    color: rgb(145, 9, 57);
    font-size: 1em;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}
p {
    color: black;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
}